body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
  }
  nav {
    box-shadow: 0 2px 4px rgb(234,236,241);
  }  
/* background-image: url("https://res.cloudinary.com/dab1hrsmd/image/upload/v1684302774/nk_pic_bw_jdjuv7.jpg"); */
  .aCstm {
    color: black;
    position: relative;
    padding: 10px;
    text-decoration: none;
  }
  
  .aCstm::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px; /* Adjust this value for spacing */
    width: 0;
    height: 2px;
    background-color: #feb633;
    transform: translateX(-50%);
    transition: width 0.3s;
  }
  
  .aCstm:focus::after,
  .aCstm:hover::after {
    width: 100%;
  }
  
  .aCstm:hover {
    color: #e25858;
    text-decoration: underline #fff;
  }
.logoCstm{
  color: #fbd214;
  font-size: 40px;
  font-weight: bold;
}  
.topBannerSection{
  background-color: #fff;
  /* height: 40vh; */
  color: #000;
  padding-top: 12px;
}
.topBannerSectionDesc{
  font-size: 22px;
}
.topBannerSectionHdng {
  font-weight: bold;
  margin-top: 22px;
} 

.topBannerSectionHireMeButton {
  background-color: #fec110;
  color: white;
  border: none;
  width: 195px;
  height: 50px;
  border-radius: 4px;
  word-spacing: 1.6px;
  font-size: 20px;
  font-weight: 500;
  box-shadow: 0 5px 6px #f5f0e7;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s, box-shadow 0.3s;
}

.topBannerSectionHireMeButton:active,
.topBannerSectionHireMeButton:focus {
  background-color: white;
  color: #fec110;
  border: 1px solid #c5c3c3;
  box-shadow: none;
  outline: none; /* Optional: remove the focus outline */
}
.aboutMeSection{
  background-color: #f7fcfc;
  padding: 10px;
  /* height: 75vh; */
}
.underline {
  color: #000;
  position: relative;
  font-size: 36px;
  padding-bottom: 8px;
  font-weight: bold;
}

.underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80px; /* Adjust the length of the underline here */
  height: 4px;
  background-color: #fbd214;
}
.aboutMeLeft{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}
.aboutMeRight{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}
.aboutMeRightDesc{
  color: #383737;
}
.resume{
  color: #fff;
  text-decoration: none;
}
.educationSection{
  background-color: aliceblue;
  /* height: 68vh; */
}
.educationDesc{
  font-weight: 500;
}
.nxtWaveCont{
  background: linear-gradient(to right, #e25858, #feb633);
  border-radius: 10px;
  box-shadow: 0 0 8px #eae8eb;
  color: #fff;
}
.kgrCont{
  background: linear-gradient(to right, #3104fc, #faa804);  
  border-radius: 10px;
  box-shadow: 0 0 8px #eae8eb;
  color: #fff;
}
.alphoresCont{
  background: linear-gradient(to right, #6c0b0b, #ddd2be);  
  border-radius: 10px;
  box-shadow: 0 0 8px #eae8eb;
  color: #fff;
}
.sscCont{
  background: linear-gradient(to left, #5535e3, #875801);  
  border-radius: 10px;
  box-shadow: 0 0 8px #eae8eb;
  color: #fff;
}
.projectsSection{
  background-color: #faf8f8;
  padding: 10px;
  /* height: 50vh; */
}
.projectsImage{
  width: 150px;
  height: 150px;
  border-radius: 10px;
  /* padding: 12px; */
}
.projectsTopSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projectsTopSectionDesc{
  color: #2c2b2b;
  font-weight: 400;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
}
.staticWebsiteSection{
  background: linear-gradient(to right, #f1edfb, #fcfdfc);
  border-radius: 8px;
  box-shadow: 0 0 8px #eae8eb;
}
.staticWebsiteSection1{
  background: linear-gradient(to left, #f1edfd, #ffffff);
  border-radius: 8px;
  box-shadow: 0 0 8px #eae8eb;
}
.staticWebsiteSection2{
  background: linear-gradient(to top, #ebe7f4, #fff, #f2fdfd);
  border-radius: 8px;
  border: 2px #eae8eb;
}
hr{
  color: #000;
  /* border: 2px solid #000; */
}
.projectType{
  font-size: 30px;
  padding-bottom: 20px;
}
.projectButton {
  color: #fff;
}
.projectTypeHdng{
  color: #000;
  font-size: 28px;
  font-weight: 600;
}
.techSkillsUsed{
  color: #000;
  font-weight: 600;
}
.experienceSection {
  background-color: #fff;
  /* height: 50vh; */
}
.job{
  background: linear-gradient(to left, #fcfce6, #f8dfdf);
  padding: 18px;
  border-radius: 10px;
  margin-right: 8px;
  border: solid 1px #efe9e9;
  box-shadow: 0 0 5px #fff;
}
.job1{
  background: linear-gradient(to right, #e3fafc, #fefeef);
  padding: 18px;
  border-radius: 10px;
  margin-right: 8px;
  border: solid 1px #efe9e9;
  box-shadow: 0 0 5px #fff;
}
.job2{
  background: linear-gradient(to bottom, #f7ecec, #f4f8fa);
  padding: 18px;
  border-radius: 10px;
  margin-right: 8px;
  border: solid 1px #efe9e9;
  box-shadow: 0 0 5px #fff;
}
.jobTopSection{
  line-height: 1.0;
}
.hdng {
  color: #000;
  position: relative;
  font-size: 36px;
  padding-bottom: 5px;
  font-weight: bold;
}
.hrcstm{
  width: 50px;
  background-color: #fbd214;
  height: 3px;
  border: solid 0px;
}
.contactIcon{
  color: #000;
  /* background-color: #000; */
}
label{
  display: block;
}
input{
  border: solid 0px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 320px;
  height: 50px;
  display: block;
  padding: 14px;
  border-radius: 4px;
}
textarea{
  border: solid 0px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 620px;
  height: 100px;
  display: block;
  padding: 14px;
  border-radius: 4px;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.contactSection{
  background-color: #fefcfc;
}